node_modules/
Node.js/CookieAuthentication/package-lock.json
AngularJS
MyCordovaApp/
MyIonicApp/
PhoneGapSample/
WeatherForecast/javascript/settings.js
/weather-dashboard/.cache/
/weather-dashboard/dist/
/node-web-server-send-grid/server/config/*
